@model RezRouting.Demos.MvcWalkthrough1.Controllers.Products.ProductDetailsModel

@{
    ViewBag.Title = Model.Product.Name + " Details";
}
<p>Made by: @Model.Product.Manufacturer.Name</p>
<p>Added on: @Model.Product.CreatedOn</p>
<p>Modified on: @Model.Product.ModifiedOn</p>
<div>
    <a class="btn btn-default" href="@Url.Action("Edit", new { id = Model.Product.Id })">Edit</a>
    <form style="display:inline" method="POST" action="@Url.Action("Delete", "Products")" >
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
</div>

<h2>Recent Reviews</h2>
<ul class="list-group">
    @foreach (var review in Model.Reviews)
    {
        <li class="list-group-item">
            <p><span class="badge pull-right">@review.Score</span> @review.UserName - @review.ReviewDate</p>
            <p>@review.Comments.Substring(0, 40) ...</p>
        </li>
    }
</ul>
<p><a  class="btn btn-default" href="@Url.Action("Index", "Reviews", new { productId = Model.Product.Id })">All @Model.Product.Name Reviews</a></p>
