@using RezRouting.AspNetMvc.UrlGeneration
@using RezRouting.Demos.MvcWalkthrough1.Controllers.Manufacturers
@model EditModel

@{
    ViewBag.Title = "Update Manufacturer";
}

<form method="POST" action="@(Url.ResourceUrl<ManufacturersController>("Update"))">

    @Html.ValidationSummary()

    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(x => x.Input.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Input.Name)
        @Html.TextBoxFor(x => x.Input.Name, new { @class = "form-control" })
    </div>
    
    <input class="btn btn-primary" type="submit" value="Update" />

</form>
