@model RezRouting.Demos.Crud.Controllers.Session.Credentials

@{
    ViewBag.Title = "Sign In";
}

<form method="POST" action="@Url.Action("Create", "Session")">

 @Html.ValidationSummary()

    <div>@Html.LabelFor(x => x.UserName)</div>
    <div>@Html.TextBoxFor(x => x.UserName)</div>

    <div>@Html.LabelFor(x => x.Password)</div>
    <div>@Html.PasswordFor(x => x.Password)</div>

    <input type="submit" value="Log in" />

</form>
