@model RezRouting.Demos.Tasks.Controllers.Products.Product.EditModel

@{
    ViewBag.Title = "Update Product";
}

<form method="POST" action="@Url.Action("Handle", "EditProduct", new { httpMethod = "POST"} )">

    @Html.ValidationSummary()
    
    @Html.HiddenFor(x => x.Input.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Input.Name)
        @Html.TextBoxFor(x => x.Input.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Input.ManufacturerId, "Manufacturer")
        @Html.DropDownListFor(x => x.Input.ManufacturerId, Model.ManufacturerOptions, new { @class = "form-control" })
    </div>

    <input class="btn btn-primary" type="submit" value="Update" />

</form>
