@using Microsoft.Web.Mvc.Resources
@using RezRouting.Demos.Crud.Controllers.Products.Product
@using RezRouting.Demos.Crud.Utility
@model RezRouting.Demos.Crud.Controllers.Products.ProductsIndexModel

@{
    ViewBag.Title = "Products";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td><a href="@Url.ResourceUrl((ProductController x) => x.Show(product.Id))">@product.Id</a></td>
                <td>@product.Name</td>
                <td>@product.Manufacturer.Name</td>
                <td>@product.CreatedOn</td>
                <td>@product.ModifiedOn</td>
            </tr>
        }
    </thead>
</table>
<div><a class="btn btn-default" href="@Url.Action("New", "Products")">Add New Product</a></div>

