@using RezRouting.Demos.MvcWalkthrough3.Controllers.Products.Product.Reviews.Review
@using RezRouting.Demos.MvcWalkthrough3.DataAccess
@model ApproveReviewModel

@{
    ViewBag.Title = "Approve Review";
    var review = Model.Review;
    var statusOptions = new[]
    {
        ReviewApprovalStatus.Pending,
        ReviewApprovalStatus.Approved,
        ReviewApprovalStatus.Rejected
    }.Select(s => new SelectListItem {Value = s.ToString(), Text = s.ToString()})
     .ToList();
        
}

<form method="POST" action="@Request.Url.LocalPath">

    @Html.ValidationSummary()

    @Html.HiddenFor(x => x.Request.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Request.ApprovalStatus, "Status")
        @Html.DropDownListFor(x => x.Request.ApprovalStatus, statusOptions, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Request.Comments)
        @Html.TextAreaFor(x => x.Request.Comments, new { @class = "form-control" })
    </div>
    
    <input class="btn btn-primary" type="submit" value="Update" />

</form>

<h2>Review Details</h2>
<p>Approve review by @review.UserName on @review.ReviewDate</p>
<p>Current approval status: @Html.Partial("ApprovalStatusLabel", review.ApprovalStatus)</p>
<p>@review.Comments</p>

